.App {
  text-align: center;
  margin: 10px 10px;
}

.text_input {
  height: 28px;
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 2px;
}

.addButton {
  margin: 10px 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-weight: 700;
}

.prev_btn {
  margin: 10px 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-weight: 700;
}

.next_btn {
  margin: 10px 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-weight: 700;
}
